.example-container {
    height: 100%;
    position: relative;
    top: -0.5rem;
  }
  .sidenavList {
    width: 200px;
  }
  .itemNav mat-icon {
    color: black;
  }
  .menuUserTitle{
    margin: 1rem;
    font-weight: 500;
  }