<p>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="toggleNav.emit()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de Inventario</span>
      <span class="example-spacer"></span>
      <button
        [matMenuTriggerFor]="menuUser"
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menuUser="matMenu">
        <span class="menuUserTitle"><b>Hello {{user.username}}!!!</b></span>
        <mat-divider class="toolbar-divider"></mat-divider>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Configuration</span>
        </button>
        <button mat-menu-item (click)="Logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </p>
