<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Sistema de Inventario</span>
    <span class="example-spacer"></span>
    <button
      [matMenuTriggerFor]="menuUser"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menuUser="matMenu">
      <span class="menuUserTitle">Hello {{user.username}}!!!</span>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configuration</span>
      </button>
      <button mat-menu-item (click)="Logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</p>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenavList">
    <mat-nav-list>
      <mat-list-item class="itemNav" routerLink="dashboard">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span>Dashboard</span>
      </mat-list-item>
      <mat-list-item class="itemNav" routerLink="productos">
        <mat-icon matListItemIcon>laptop</mat-icon>
        <span>Productos</span>
      </mat-list-item>
      <mat-list-item class="itemNav" routerLink="ventas">
        <mat-icon matListItemIcon>currency_exchange</mat-icon>
        <span>Ventas</span>
      </mat-list-item>
      <mat-list-item class="itemNav" routerLink="usuarios">
        <mat-icon matListItemIcon>group</mat-icon>
        <span>Usuarios</span>
      </mat-list-item>
      <mat-list-item class="itemNav" routerLink="reportes">
        <mat-icon matListItemIcon>receipt</mat-icon>
        <span>Reportes</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content> <router-outlet></router-outlet> </mat-sidenav-content>
</mat-sidenav-container>
